# Excluindo dados no panda

In [16]:
import pandas as pd

In [17]:
HRdados = pd.read_csv("C:/Users/Ana Carolinne S/Desktop/HR/HR_Engagement_Sat_Sales_UpdatedV4.0.csv", sep= ',' , encoding='UTF-8')

In [18]:
HRdados.head()

,ID,Name,Department,GEO,Role,Rising_Star,Will_Relocate,Critical,Trending Perf,Talent_Level,...,Emp_Competitive_4,Emp_Competitive_5,Emp_Collaborative_1,Emp_Collaborative_2,Emp_Collaborative_3,Emp_Collaborative_4,Emp_Collaborative_5,Sensor_StepCount,Sensor_Heartbeat(Average/Min),Sensor_Proximity(1-highest/10-lowest)
0,1,BRADDY,Operations,US,VP,NaN,0,1.0,3,6,...,2,2,2,2,2,1,5,1841,61,9
1,2,BORST,Sales,UK,Senior Director,NaN,0,NaN,3,6,...,4,1,3,2,5,1,5,1990,90,8
2,3,BIRDWELL,Finance,France,Senior Director,NaN,0,NaN,3,6,...,2,5,2,2,4,4,4,3193,80,8
3,4,BENT,Human Resources,China,Senior Director,NaN,0,NaN,3,6,...,5,1,1,2,4,4,1,3248,77,6
4,5,BAZAN,IT,Korea,Director,NaN,0,NaN,3,6,...,5,3,5,1,2,5,4,3149,80,10

In [19]:
HRdados.drop(columns= "Rising_Star" , inplace= True ) 
#exluindo coluna "Rising_Star" com o Drop
#Foram usados 3 parâmetros para o método drop(). 
#1. A coluna que queremos excluir
#2. As alterações devem ser feitas no DataFrame original, sem criar cópias

In [20]:
HRdados.head() 
#Agora a coluna "Rising_Star" não existe mais

,ID,Name,Department,GEO,Role,Will_Relocate,Critical,Trending Perf,Talent_Level,Validated_Talent_Level,...,Emp_Competitive_4,Emp_Competitive_5,Emp_Collaborative_1,Emp_Collaborative_2,Emp_Collaborative_3,Emp_Collaborative_4,Emp_Collaborative_5,Sensor_StepCount,Sensor_Heartbeat(Average/Min),Sensor_Proximity(1-highest/10-lowest)
0,1,BRADDY,Operations,US,VP,0,1.0,3,6,6,...,2,2,2,2,2,1,5,1841,61,9
1,2,BORST,Sales,UK,Senior Director,0,NaN,3,6,6,...,4,1,3,2,5,1,5,1990,90,8
2,3,BIRDWELL,Finance,France,Senior Director,0,NaN,3,6,6,...,2,5,2,2,4,4,4,3193,80,8
3,4,BENT,Human Resources,China,Senior Director,0,NaN,3,6,6,...,5,1,1,2,4,4,1,3248,77,6
4,5,BAZAN,IT,Korea,Director,0,NaN,3,6,6,...,5,3,5,1,2,5,4,3149,80,10